<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [5]:
# Write your code here
missing_values = df.isnull()

print(f'The data set has {df.shape[0]} rows and {df.shape[1]} columns')

for column in df.columns.tolist():
    print(f'Column {column} contains data with {df[column].dtype} type and has {missing_values[column].sum()} missing values')

The data set has 65437 rows and 114 columns
Column ResponseId contains data with int64 type and has 0 missing values
Column MainBranch contains data with object type and has 0 missing values
Column Age contains data with object type and has 0 missing values
Column Employment contains data with object type and has 0 missing values
Column RemoteWork contains data with object type and has 10631 missing values
Column Check contains data with object type and has 0 missing values
Column CodingActivities contains data with object type and has 10971 missing values
Column EdLevel contains data with object type and has 4653 missing values
Column LearnCode contains data with object type and has 4949 missing values
Column LearnCodeOnline contains data with object type and has 16200 missing values
Column TechDoc contains data with object type and has 24540 missing values
Column YearsCode contains data with object type and has 5568 missing values
Column YearsCodePro contains data with object type and has 13827 missing values
Column DevType contains data with object type and has 5992 missing values
Column OrgSize contains data with object type and has 17957 missing values
Column PurchaseInfluence contains data with object type and has 18031 missing values
Column BuyNewTool contains data with object type and has 20256 missing values
Column BuildvsBuy contains data with object type and has 22079 missing values
Column TechEndorse contains data with object type and has 21769 missing values
Column Country contains data with object type and has 6507 missing values
Column Currency contains data with object type and has 18753 missing values
Column CompTotal contains data with float64 type and has 31697 missing values
Column LanguageHaveWorkedWith contains data with object type and has 5692 missing values
Column LanguageWantToWorkWith contains data with object type and has 9685 missing values
Column LanguageAdmired contains data with object type and has 14565 missing values
Column DatabaseHaveWorkedWith contains data with object type and has 15183 missing values
Column DatabaseWantToWorkWith contains data with object type and has 22879 missing values
Column DatabaseAdmired contains data with object type and has 26880 missing values
Column PlatformHaveWorkedWith contains data with object type and has 23071 missing values
Column PlatformWantToWorkWith contains data with object type and has 30905 missing values
Column PlatformAdmired contains data with object type and has 34060 missing values
Column WebframeHaveWorkedWith contains data with object type and has 20276 missing values
Column WebframeWantToWorkWith contains data with object type and has 26902 missing values
Column WebframeAdmired contains data with object type and has 30494 missing values
Column EmbeddedHaveWorkedWith contains data with object type and has 43223 missing values
Column EmbeddedWantToWorkWith contains data with object type and has 47837 missing values
Column EmbeddedAdmired contains data with object type and has 48704 missing values
Column MiscTechHaveWorkedWith contains data with object type and has 25994 missing values
Column MiscTechWantToWorkWith contains data with object type and has 32473 missing values
Column MiscTechAdmired contains data with object type and has 35841 missing values
Column ToolsTechHaveWorkedWith contains data with object type and has 12955 missing values
Column ToolsTechWantToWorkWith contains data with object type and has 19353 missing values
Column ToolsTechAdmired contains data with object type and has 21440 missing values
Column NEWCollabToolsHaveWorkedWith contains data with object type and has 7845 missing values
Column NEWCollabToolsWantToWorkWith contains data with object type and has 13350 missing values
Column NEWCollabToolsAdmired contains data with object type and has 14726 missing values
Column OpSysPersonal use contains data with object type and has 7263 missing values
Column OpSysProfessional use contains data with object type and has 12464 missing values
Column OfficeStackAsyncHaveWorkedWith contains data with object type and has 17344 missing values
Column OfficeStackAsyncWantToWorkWith contains data with object type and has 26471 missing values
Column OfficeStackAsyncAdmired contains data with object type and has 28233 missing values
Column OfficeStackSyncHaveWorkedWith contains data with object type and has 9892 missing values
Column OfficeStackSyncWantToWorkWith contains data with object type and has 18726 missing values
Column OfficeStackSyncAdmired contains data with object type and has 20725 missing values
Column AISearchDevHaveWorkedWith contains data with object type and has 20984 missing values
Column AISearchDevWantToWorkWith contains data with object type and has 28736 missing values
Column AISearchDevAdmired contains data with object type and has 29894 missing values
Column NEWSOSites contains data with object type and has 5151 missing values
Column SOVisitFreq contains data with object type and has 5901 missing values
Column SOAccount contains data with object type and has 5877 missing values
Column SOPartFreq contains data with object type and has 20200 missing values
Column SOHow contains data with object type and has 6475 missing values
Column SOComm contains data with object type and has 6274 missing values
Column AISelect contains data with object type and has 4530 missing values
Column AISent contains data with object type and has 19564 missing values
Column AIBen contains data with object type and has 28543 missing values
Column AIAcc contains data with object type and has 28135 missing values
Column AIComplex contains data with object type and has 28416 missing values
Column AIToolCurrently Using contains data with object type and has 30365 missing values
Column AIToolInterested in Using contains data with object type and has 34746 missing values
Column AIToolNot interested in Using contains data with object type and has 41023 missing values
Column AINextMuch more integrated contains data with object type and has 51999 missing values
Column AINextNo change contains data with object type and has 52939 missing values
Column AINextMore integrated contains data with object type and has 41009 missing values
Column AINextLess integrated contains data with object type and has 63082 missing values
Column AINextMuch less integrated contains data with object type and has 64289 missing values
Column AIThreat contains data with object type and has 20748 missing values
Column AIEthics contains data with object type and has 23889 missing values
Column AIChallenges contains data with object type and has 27906 missing values
Column TBranch contains data with object type and has 20960 missing values
Column ICorPM contains data with object type and has 35636 missing values
Column WorkExp contains data with float64 type and has 35779 missing values
Column Knowledge_1 contains data with object type and has 36773 missing values
Column Knowledge_2 contains data with object type and has 37416 missing values
Column Knowledge_3 contains data with object type and has 37342 missing values
Column Knowledge_4 contains data with object type and has 37407 missing values
Column Knowledge_5 contains data with object type and has 37557 missing values
Column Knowledge_6 contains data with object type and has 37573 missing values
Column Knowledge_7 contains data with object type and has 37659 missing values
Column Knowledge_8 contains data with object type and has 37679 missing values
Column Knowledge_9 contains data with object type and has 37802 missing values
Column Frequency_1 contains data with object type and has 37068 missing values
Column Frequency_2 contains data with object type and has 37073 missing values
Column Frequency_3 contains data with object type and has 37727 missing values
Column TimeSearching contains data with object type and has 36526 missing values
Column TimeAnswering contains data with object type and has 36593 missing values
Column Frustration contains data with object type and has 37186 missing values
Column ProfessionalTech contains data with object type and has 37673 missing values
Column ProfessionalCloud contains data with object type and has 36946 missing values
Column ProfessionalQuestion contains data with object type and has 36630 missing values
Column Industry contains data with object type and has 36579 missing values
Column JobSatPoints_1 contains data with float64 type and has 36113 missing values
Column JobSatPoints_4 contains data with float64 type and has 36044 missing values
Column JobSatPoints_5 contains data with float64 type and has 36026 missing values
Column JobSatPoints_6 contains data with float64 type and has 35987 missing values
Column JobSatPoints_7 contains data with float64 type and has 35989 missing values
Column JobSatPoints_8 contains data with float64 type and has 35981 missing values
Column JobSatPoints_9 contains data with float64 type and has 35981 missing values
Column JobSatPoints_10 contains data with float64 type and has 35987 missing values
Column JobSatPoints_11 contains data with float64 type and has 35992 missing values
Column SurveyLength contains data with object type and has 9255 missing values
Column SurveyEase contains data with object type and has 9199 missing values
Column ConvertedCompYearly contains data with float64 type and has 42002 missing values
Column JobSat contains data with float64 type and has 36311 missing values

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [11]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [15]:
# Write your code here
df["Country"].unique()

array(['United States of America',
       'United Kingdom of Great Britain and Northern Ireland', 'Canada',
       'Norway', 'Uzbekistan', 'Serbia', 'Poland', 'Philippines',
       'Bulgaria', 'Switzerland', 'India', 'Germany', 'Ireland', 'Italy',
       'Ukraine', 'Australia', 'Brazil', 'Japan', 'Austria',
       'Iran, Islamic Republic of...', 'France', 'Saudi Arabia',
       'Romania', 'Turkey', 'Nepal', 'Algeria', 'Sweden', 'Netherlands',
       'Croatia', 'Pakistan', 'Czech Republic',
       'Republic of North Macedonia', 'Finland', 'Slovakia',
       'Russian Federation', 'Greece', 'Israel', 'Belgium', 'Mexico',
       'United Republic of Tanzania', 'Hungary', 'Argentina', 'Portugal',
       'Sri Lanka', 'Latvia', 'China', 'Singapore', 'Lebanon', 'Spain',
       'South Africa', 'Lithuania', 'Viet Nam', 'Dominican Republic',
       'Indonesia', 'Kosovo', 'Morocco', 'Taiwan', 'Georgia',
       'San Marino', 'Tunisia', 'Bangladesh', 'Nigeria', 'Liechtenstein',
       'Denmark', 'Ecuador', 'Malaysia', 'Albania', 'Azerbaijan', 'Chile',
       'Ghana', 'Peru', 'Bolivia', 'Egypt', 'Luxembourg', 'Montenegro',
       'Cyprus', 'Paraguay', 'Kazakhstan', 'Slovenia', 'Jordan',
       'Venezuela, Bolivarian Republic of...', 'Costa Rica', 'Jamaica',
       'Thailand', 'Nicaragua', 'Myanmar', 'Republic of Korea', 'Rwanda',
       'Bosnia and Herzegovina', 'Benin', 'El Salvador', 'Zimbabwe',
       'Afghanistan', 'Estonia', 'Malta', 'Uruguay', 'Belarus',
       'Colombia', 'Republic of Moldova', 'Isle of Man', 'Nomadic',
       'New Zealand', 'Palestine', 'Armenia', 'United Arab Emirates',
       'Maldives', 'Ethiopia', 'Fiji', 'Guatemala', 'Uganda',
       'Turkmenistan', 'Mauritius', 'Kenya', 'Cuba', 'Gabon', 'Bahamas',
       'South Korea', 'Iceland', 'Honduras', 'Hong Kong (S.A.R.)',
       "Lao People's Democratic Republic", 'Mongolia', 'Cambodia',
       'Madagascar', 'Angola', 'Democratic Republic of the Congo',
       'Syrian Arab Republic', 'Iraq', 'Namibia', 'Senegal', 'Kyrgyzstan',
       'Zambia', 'Swaziland', "Côte d'Ivoire", 'Kuwait', 'Tajikistan',
       'Burundi', 'Trinidad and Tobago', 'Mauritania', 'Sierra Leone',
       'Panama', 'Somalia', 'North Korea', 'Dominica', 'Guyana', 'Togo',
       'Oman', 'Barbados', 'Andorra',
       "Democratic People's Republic of Korea", 'Qatar', 'Sudan',
       'Cameroon', 'Papua New Guinea', 'Bahrain', 'Yemen', 'Malawi',
       'Burkina Faso', 'Congo, Republic of the...', 'Botswana',
       'Guinea-Bissau', 'Mozambique', 'Central African Republic',
       'Equatorial Guinea', 'Suriname', 'Belize',
       'Libyan Arab Jamahiriya', 'Cape Verde', 'Brunei Darussalam',
       'Bhutan', 'Guinea', 'Niger', 'Antigua and Barbuda', 'Mali',
       'Samoa', 'Lesotho', 'Saint Kitts and Nevis', 'Monaco',
       'Micronesia, Federated States of...', 'Haiti', nan, 'Nauru',
       'Liberia', 'Chad', 'Djibouti', 'Solomon Islands'], dtype=object)

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [16]:
## Write your code here
df["EdLevel"].unique()

array(['Primary/elementary school',
       'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Some college/university study without earning a degree',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
       'Associate degree (A.A., A.S., etc.)', 'Something else', nan],
      dtype=object)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [ ]:
## Write your code here
df["Employment"].unique()

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [23]:
## Write your code here
missing_data = df.isnull().sum()
missing_data.sort_values(ascending=False, inplace=True)
missing_data.head(10)

AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [26]:
## Write your code here
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean())
df['ConvertedCompYearly'].isnull().sum()

np.int64(0)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [27]:
## Write your code here
most_freq = df['RemoteWork'].value_counts()
df['RemoteWork'] = df['RemoteWork'].fillna(most_freq.idxmax())
df['RemoteWork'].isnull().sum()

np.int64(0)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [32]:
## Write your code here
df['ConvertedCompYearly_Normalized'] = (df['ConvertedCompYearly'] - df['ConvertedCompYearly'].min())/(df['ConvertedCompYearly'].max() - df['ConvertedCompYearly'].min())

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [34]:
## Write your code here
# !pip install numpy
# import numpy as np

df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'])

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [35]:
## Write your code here
def clean_experience(x):
    if pd.isna(x):
        return np.nan
    elif x == 'Less than 1 year':
        return 0
    elif x == 'More than 50 years':
        return 51
    else:
        return int(x)

# Apply cleaning
df['YearsCodeNum'] = df['YearsCodePro'].apply(clean_experience)

# Function to assign experience level
def categorize_exp(years):
    if pd.isna(years):
        return np.nan
    elif years <= 5:
        return 'Beginner'
    elif years <= 15:
        return 'Used to'
    elif years <= 15:
        return 'Intermediary'
    else:
        return 'Pro'

# Apply categorization
df['ExpLvl'] = df['YearsCodeNum'].apply(categorize_exp)

array([nan, '17', '27', '7', '11', '25', '12', '10', '3',
       'Less than 1 year', '18', '37', '15', '20', '6', '2', '16', '8',
       '14', '4', '45', '1', '24', '29', '5', '30', '26', '9', '33', '13',
       '35', '23', '22', '31', '19', '21', '28', '34', '32', '40', '50',
       '39', '44', '42', '41', '36', '38', 'More than 50 years', '43',
       '47', '48', '46', '49'], dtype=object)

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.